/* CSS Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cf6eff;
}

.trivia {
    background: #9266CC;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 12px;
    padding: 30px;
}